h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 2.2rem;
  color: #333;
}

p {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

button {
  background: #ff9800;
  color: white;
  padding: 12px 25px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #e68900;
}

a {
  text-decoration: none;
}
